@import "tailwindcss";

:root {
  --primary-color: #646cff;
  --primary-hover: #535bf2;
}
/* #root{
  height: 100%;
  width:100%;
} */
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}
body, input, button {
  font-size: 14px;
  font-family: Arial, sans-serif;
  color: #fff;
}
body {
  background: #202124;
  /* display: block; */
}

button {
  @apply rounded-lg border border-transparent px-4 py-2 text-lg font-medium bg-gray-800 text-white transition-all duration-200;
}
button:hover {
  @apply border-blue-400 bg-blue-900 cursor-pointer;
}
input {
  @apply rounded-lg
}
